<div class="wrapper row5">
    <div id="footer" class="clear">
        <!-- ####################################################################################################### -->
        <div class="foot_contact">
            <h2>Universitas Darwan Ali</h2>
            <address>
                Jl. Batu Berlian No.10, Mentawa Baru Hulu<br />
                Kec. Mentawa Baru Ketapang<br />
                Kabupaten Kotawaringin Timur, Kalimantan Tengah<br />
            </address>
            <ul>
                <li><strong>Tel:</strong> 0531-31992</li>
                <li><strong>Fax:</strong> 0531-33342</li>
                <li class="last"><strong>Email:</strong> <a href="mailto:info@unda.ac.id">info [at] unda.ac.id</a></li>
                <br />
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/unda.university/"><img
                            src="/images/icons8-instagram-10.png"><strong> Instagram</strong></a></li>
                <li><a href="https://www.facebook.com/unda.ac.id/"><img src="/images/icons8-facebook-10.png"><strong>
                            Facebook</strong></a></li>
                <li class="last"><img src="/images/icons8-whatsapp-10.png"><a
                        href="https://wa.me/6285171588808?text="><strong> Whatsapp</strong></a></li>
            </ul>
        </div>
        <div class="footbox">
            <h2>Beranda</h2>
            <ul>
                <li><a href="/visi-misi-universitas-darwan-ali">Visi Misi Perguruan Tinggi</a></li>
                <li><a href="/visi-misi-fakultas-ilmu-komputer">Visi Misi Fakultas Ilmu Komputer</a></li>
                <li><a href="/visi-misi-fakultas-bisnis">Visi Misi Fakultas Bisnis</a></li>
                <li class="last"><a href="/visi-misi-fakultas-ilmu-pertanian">Visi Misi Fakultas Pertanian</a></li>
            </ul>
        </div>
        <div class="footbox">
            <h2>Fakultas</h2>
            <ul>
                <li><a href="/program-studi-s1-sistem-informasi">Prodi S1 Sistem Informasi</a></li>
                <li><a href="/rencana-strategis-prodi-si">Rencana Strategis Prodi SI</a></li>
                <li><a href="/program-studi-s1-manajemen">Prodi S1 Manajemen</a></li>
                <li><a href="/program-studi-d3-akuntansi">Prodi D3 Akuntansi</a></li>
                <li class="last"><a href="/program-studi-s1-agribisnis">Prodi S1 Agribisnis</a></li>
            </ul>
        </div>
        <div class="footbox last">
            <h2>Layanan Mahasiswa</h2>
            <ul>
                <li><a href="https://github.com/Universitas-Darwan-Ali/">Github</a></li>
                <li><a href="https://github.com/Universitas-Darwan-Ali/ubuntu-fxce-rdp">Cloud PC</a></li>
                <li><a href="https://youtu.be/nPQMhv5kphM">Cara Penggunaan</a></li>
                <li><a href="/ukm-keagamaan">UKM Keagamaan</a></li>
                <li><a href="/ukm-olahraga">UKM Olahraga</a></li>
                <li><a href="/ukm-debat">UKM Debat</a></li>
                <li><a href="/ukm-e-sport">UKM E-Sport</a></li>
                <li><a href="/ukm-multimedia">UKM Multimedia</a></li>
                <li><a href="/ukm-germani">UKM Germani</a></li>
                <li><a href="/ukm-mapala">UKM Mapala</a></li>
                <li class="last"><a href="/ukm-musik">UKM Musik</a></li>
            </ul>
        </div>
        <!-- ####################################################################################################### -->
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper-cpyr">
    <div id="copyright" class="clear">
        <p class="copyright" class="fl_left">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> - All Rights Reserved - <a
                href="unda.ac.id">unda.ac.id</a>
        </p>
        <p class="fl_right">Thanks to <a href="https://www.os-templates.com/" title="Free Website Templates">OS
                Templates</a></p>
    </div>
</div>
<!-- Homepage Only Scripts -->
<script type="text/javascript" src="layout/scripts/jquery.cycle.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#featured_slide').after('<div id="fsn"><ul id="fs_pagination">').cycle({
            timeout: 5000,
            fx: 'fade',
            pager: '#fs_pagination',
            pause: 1,
            pauseOnPagerHover: 0
        });
    });
</script>
<!-- End Homepage Only Scripts -->
</body>

</html>