<body id="top">
  <div class="wrapper row1">
    <div id="header" class="clear">
      <div class="fl_left">
        <h1><a href="/"><img id="img" src="/images/logo_unda.png">Universitas Darwan Ali</a></h1>
      </div>
    </div>
    <!-- ####################################################################################################### -->
    <div class="wrapper row2">
      <div id="topnav">
        <ul id="menu">
          <li class="parent"><a href="#">BERANDA></a>
            <ul class="child">
              <li><a href="https://youtu.be/Wk1OWgr4OpI">Mars UNDA</a></li>
              <li><a href="/fasilitas">Fasilitas</a></li>
              <li class="parent"><a href="#">Visi Misi<span class="expand">></span></a>
                <ul class="child">
                  <li><a href="/visi-misi-universitas-darwan-ali">Visi Misi PT</a></li>
                  <li class="parent"><a href="#">Visi Misi Fakultas<span class="expand">></span></a>
                    <ul class="child">
                      <li><a href="/visi-misi-fakultas-ilmu-komputer">Ilmu Komputer</a></li>
                      <li><a href="/visi-misi-fakultas-bisnis">Bisnis</a></li>
                      <li><a href="/visi-misi-fakultas-ilmu-pertanian">Pertanian</a></li>
                    </ul>
                  <li class="parent"><a href="#">Visi Misi Prodi<span class="expand">></span></a>
                    <ul class="child">
                      <li><a href="/2630-2">Prodi S1 Sistem Informasi</a></li>
                      <li><a href="/2632-2">Prodi S1 Manajemen</a></li>
                      <li><a href="/2634-2">Prodi S1 Agribisnis</a></li>
                      <li><a href="/2636-2">Prodi D3 Akuntansi</a></li>
                    </ul>
                </ul>
              </li>
              <li class="parent"><a href="#">Berkas Buku BPM<span class="expand">></span></a>
                <ul class="child">
                  <li class="parent"><a href="#">Tahun 2022<span class="expand">></span></a>
                    <ul class="child">
                      <li><a href="/buku-standar-spmi-2022" nowrap>Standar SPMI</a></li>
                      <li><a href="/buku-sop-unda-2022" nowrap>SOP UNDA</a></li>
                      <li><a href="/buku-manual-spmi-si-2022" nowrap>Manual SPMI SI</a></li>
                      <li><a href="/buku-kebijakan-unda-2022" nowrap>Kebijakan UNDA</a></li>
                      <li><a href="/buku-formulir-spmi-unda-2022" nowrap>Formulir SPMI UNDA</a></li>
                    </ul>
                </ul>
              </li>
              <li><a href="https://drive.google.com/drive/folders/149OZjiCL8pEbgOUSngzZJNVwLKD65tUY">Kode Etik dan
                  Pedoman</a></li>
              <li><a href="https://outlook.com/">Webmail</a></li>
              <li><a href="http://cloud.unda.ac.id/uld">Layanan Disabilitas</a></li>
              <li><a href="http://lapor.unda.ac.id/">Lapor 3 Dosa</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/kontak-kami">KONTAK</a>
          </li>
          <li class="parent"><a href="/pengumuman">PENGUMUMAN</a>
          </li>
          <li class="parent"><a href="http://daftar.unda.ac.id/">PENDAFTARAN</a>
          </li>
          <li class="parent"><a href="/posts">BERITA</a>
          </li>
          <li class="parent"><a href="#">AKADEMIK></a>
            <ul class="child">
              <li class="parent"><a href="#">Fakultas Ilmu Komputer<span class="expand">></span></a>
                <ul class="child">
                  <li><a href="/program-studi-s1-sistem-informasi" nowrap>Prodi S1 Sistem Informasi</a></li>
                  <li><a href="/rencana-strategis-prodi-si" nowrap>Rencana Strategis Prodi SI</a></li>
                </ul>
              </li>
              <li class="parent"><a href="#">Fakultas Bisnis<span class="expand">></span></a>
                <ul class="child">
                  <li><a href="/program-studi-s1-manajemen" nowrap>Prodi S1 Manajemen</a></li>
                  <li><a href="/program-studi-d3-akuntansi" nowrap>Prodi D3 Akuntansi</a></li>
                </ul>
              </li>
              <li class="parent"><a href="#">Fakultas Pertanian<span class="expand">></span></a>
                <ul class="child">
                  <li><a href="/program-studi-s1-agribisnis" nowrap>Prodi S1 Agribisnis</a></li>
                </ul>
              </li>
              <li><a href="https://perpus.unda.ac.id/">Perpustakaan</a></li>
              <li><a href="https://cloud.unda.ac.id/www/pedoman-akademik/">Pedoman Akademik</a></li>
              <li><a href="http://elearning.unda.ac.id/">E-learning</a></li>
              <li><a href="http://jurnal.unda.ac.id/">Jurnal Penelitian</a></li>
            </ul>
          </li>
          <li class="parent"><a href="#">LAYANAN MAHASISWA></a>
            <ul class="child">
              <li class="parent"><a href="#">Lab UNDA <span class="expand">></span></a>
                <ul class="child">
                  <li><a href="https://github.com/Universitas-Darwan-Ali/">Github</a></li>
                  <li><a href="https://github.com/Universitas-Darwan-Ali/ubuntu-fxce-rdp">Cloud PC</a></li>
                  <li><a href="https://youtu.be/nPQMhv5kphM">Cara Penggunaan</a></li>
                </ul>
              </li>
              <li class="parent"><a href="#">UKM <span class="expand">></span></a>
                <ul class="child">
                  <li><a href="/ukm-keagamaan">Keagamaan</a></li>
                  <li><a href="/ukm-olahraga">Olahraga</a></li>
                  <li><a href="/ukm-debat">Debat</a></li>
                  <li><a href="/ukm-e-sport">E-Sport</a></li>
                  <li><a href="/ukm-multimedia">Multimedia</a></li>
                  <li><a href="/ukm-germani">Germani</a></li>
                  <li><a href="/ukm-mapala">Mapala</a></li>
                  <li><a href="/ukm-musik">Musik</a></li>
                </ul>
              </li>
              <li><a href="/bimbingan-karir-dan-kewirausahaan">Bimbingan Karir dan Kewirausahaan</a></li>
              <li><a href="/bimbingan-konseling">Bimbingan Konseling</a></li>
              <li><a href="/info-beasiswa">Info Beasiswa</a></li>
              <li><a href="http://unda.quest/">Metaverse</a></li>
              <li><a
                  href="https://drive.google.com/drive/folders/1_TE7NwbWW-zsGTwUO-lwaCuJwnn3DlMK?usp=sharing">Download
                  Panduan Pendaftaran Online</a></li>
              <li><a
                  href="https://drive.google.com/drive/folders/112hLNXRgWDGJrRbEjHh4QO_IyFSsRrqT?usp=sharing">Download
                  Panduan Pelaksanaan UTS/UAS</a></li>
            </ul>
          </li>
          <li class="parent"><a href="#">PARTNERSHIP></a>
            <ul class="child">
              <li><a href="/mou">MOU</a></li>
              <li><a href="/moa">MOA</a></li>
              <li><a href="/ia">IA</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/akreditasi">AKREDITASI</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>